xterm*background       : #000000
xterm*cursorColor      : #ff0000
xterm*foreground       : #d3d3d3

Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintslight
